$colourPalette:('primary':#2979bc,'secondary':#eeeeee,'grey':#555555);
$fontSize:('regular':('size':'14pt','weight':'normal'),'large':('size':'18pt','weight':'normal'),'xlarge':('size':'22pt','weight':'bold'));
$fontName: 'SourceSansPro';


@font-face {
    font-family: #{$fontName};
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family:  #{$fontName};
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
    font-weight: bold;
}

////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

@import '_mixins';

////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////

html, body{
    font-family: #{$fontName};
    background-color: map-get($colourPalette, 'secondary');
}

html,body,button,input[type=button]{
    
    color: map-get($colourPalette, 'grey');
    font-weight: unquote(map-get(map-get($fontSize,'regular'),'weight'));
    font-size: unquote(map-get(map-get($fontSize,'regular'),'size'));
}

a{
    &:link,&:visited,&:hover,&:active{
        color: map-get($colourPalette, 'primary');
        font-weight: unquote(map-get(map-get($fontSize,'regular'),'weight'));
        font-size: unquote(map-get(map-get($fontSize,'large'),'size'));
        text-decoration: underline;
    }
    &:link{}
    &:visited{}
    &:hover{}
    &:active{}
}

.h{
    @include height_and_wide('vh','vh','height');
}
.w{
    @include height_and_wide('vw','vw','width');
}
